.git
.codesandbox
.devcontainer
.github
.next
.vscode
api-service
node_modules
.dockerignore
.env
.env.example
.gitignore
.python-version
.vercelignore
csb.nix
dbk.toml
docker-compose.yml
Dockerfile
LICENSE
README.md
npm-debug.log
vercel.json
