.git
.codesandbox
.devcontainer
.github
.next
.vscode
api-service
node_modules
docs-assets
.dockerignore
.env
.vale.ini
vale-styles
.env.example
.gitignore
.python-version
.vercelignore
csb.nix
dbk.toml
docker-compose.yml
Dockerfile
LICENSE
CONTRIBUTING.md
DEVELOPMENT_SETUP.md
NEW_PROVIDER_EXAMPLE.md
supabase
README.md
npm-debug.log
vercel.json
