# coding: utf-8

"""
    E2B API

    No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)  # noqa: E501

    The version of the OpenAPI document: 0.1.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""


import re  # noqa: F401
import io
import warnings

from pydantic import validate_arguments, ValidationError
from typing_extensions import Annotated
from typing import overload, Optional, Union, Awaitable

from pydantic import Field, StrictBytes, StrictStr

from typing import List, Optional, Union

from e2b.api.v1.client.models.environment import Environment
from e2b.api.v1.client.models.envs_get200_response_inner import EnvsGet200ResponseInner

from e2b.api.v1.client.api_client import ApiClient
from e2b.api.v1.client.api_response import ApiResponse
from e2b.api.v1.client.exceptions import ApiTypeError, ApiValueError  # noqa: F401


class EnvsApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @overload
    async def envs_env_id_get(
        self, env_id: StrictStr, **kwargs
    ) -> Environment:  # noqa: E501
        ...

    @overload
    def envs_env_id_get(
        self, env_id: StrictStr, async_req: Optional[bool] = True, **kwargs
    ) -> Environment:  # noqa: E501
        ...

    @validate_arguments
    def envs_env_id_get(
        self, env_id: StrictStr, async_req: Optional[bool] = None, **kwargs
    ) -> Union[Environment, Awaitable[Environment]]:  # noqa: E501
        """envs_env_id_get  # noqa: E501

        Get environment info  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.envs_env_id_get(env_id, async_req=True)
        >>> result = thread.get()

        :param env_id: (required)
        :type env_id: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: Environment
        """
        kwargs["_return_http_data_only"] = True
        if "_preload_content" in kwargs:
            raise ValueError(
                "Error! Please call the envs_env_id_get_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"
            )
        if async_req is not None:
            kwargs["async_req"] = async_req
        return self.envs_env_id_get_with_http_info(env_id, **kwargs)  # noqa: E501

    @validate_arguments
    def envs_env_id_get_with_http_info(
        self, env_id: StrictStr, **kwargs
    ) -> ApiResponse:  # noqa: E501
        """envs_env_id_get  # noqa: E501

        Get environment info  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.envs_env_id_get_with_http_info(env_id, async_req=True)
        >>> result = thread.get()

        :param env_id: (required)
        :type env_id: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(Environment, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = ["env_id"]
        _all_params.extend(
            [
                "async_req",
                "_return_http_data_only",
                "_preload_content",
                "_request_timeout",
                "_request_auth",
                "_content_type",
                "_headers",
            ]
        )

        # validate the arguments
        for _key, _val in _params["kwargs"].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method envs_env_id_get" % _key
                )
            _params[_key] = _val
        del _params["kwargs"]

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params["env_id"]:
            _path_params["envID"] = _params["env_id"]

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get("_headers", {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # authentication setting
        _auth_settings = ["AccessTokenAuth"]  # noqa: E501

        _response_types_map = {
            "200": "Environment",
            "401": "Error",
            "404": "Error",
            "500": "Error",
        }

        return self.api_client.call_api(
            "/envs/{envID}",
            "GET",
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get("async_req"),
            _return_http_data_only=_params.get("_return_http_data_only"),  # noqa: E501
            _preload_content=_params.get("_preload_content", True),
            _request_timeout=_params.get("_request_timeout"),
            collection_formats=_collection_formats,
            _request_auth=_params.get("_request_auth"),
        )

    @overload
    async def envs_get(self, **kwargs) -> List[EnvsGet200ResponseInner]:  # noqa: E501
        ...

    @overload
    def envs_get(
        self, async_req: Optional[bool] = True, **kwargs
    ) -> List[EnvsGet200ResponseInner]:  # noqa: E501
        ...

    @validate_arguments
    def envs_get(
        self, async_req: Optional[bool] = None, **kwargs
    ) -> Union[
        List[EnvsGet200ResponseInner], Awaitable[List[EnvsGet200ResponseInner]]
    ]:  # noqa: E501
        """envs_get  # noqa: E501

        List all environments  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.envs_get(async_req=True)
        >>> result = thread.get()

        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: List[EnvsGet200ResponseInner]
        """
        kwargs["_return_http_data_only"] = True
        if "_preload_content" in kwargs:
            raise ValueError(
                "Error! Please call the envs_get_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"
            )
        if async_req is not None:
            kwargs["async_req"] = async_req
        return self.envs_get_with_http_info(**kwargs)  # noqa: E501

    @validate_arguments
    def envs_get_with_http_info(self, **kwargs) -> ApiResponse:  # noqa: E501
        """envs_get  # noqa: E501

        List all environments  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.envs_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(List[EnvsGet200ResponseInner], status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = []
        _all_params.extend(
            [
                "async_req",
                "_return_http_data_only",
                "_preload_content",
                "_request_timeout",
                "_request_auth",
                "_content_type",
                "_headers",
            ]
        )

        # validate the arguments
        for _key, _val in _params["kwargs"].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method envs_get" % _key
                )
            _params[_key] = _val
        del _params["kwargs"]

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get("_headers", {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # authentication setting
        _auth_settings = ["AccessTokenAuth"]  # noqa: E501

        _response_types_map = {
            "200": "List[EnvsGet200ResponseInner]",
            "401": "Error",
            "500": "Error",
        }

        return self.api_client.call_api(
            "/envs",
            "GET",
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get("async_req"),
            _return_http_data_only=_params.get("_return_http_data_only"),  # noqa: E501
            _preload_content=_params.get("_preload_content", True),
            _request_timeout=_params.get("_request_timeout"),
            collection_formats=_collection_formats,
            _request_auth=_params.get("_request_auth"),
        )

    @overload
    async def envs_post(
        self,
        build_context: Annotated[
            Union[StrictBytes, StrictStr],
            Field(..., description="Docker build context"),
        ],
        dockerfile: Annotated[StrictStr, Field(..., description="Dockerfile content")],
        env_id: Annotated[
            Optional[StrictStr],
            Field(
                description="ID of the environment, only present if the environment should be rebuilt"
            ),
        ] = None,
        **kwargs
    ) -> Environment:  # noqa: E501
        ...

    @overload
    def envs_post(
        self,
        build_context: Annotated[
            Union[StrictBytes, StrictStr],
            Field(..., description="Docker build context"),
        ],
        dockerfile: Annotated[StrictStr, Field(..., description="Dockerfile content")],
        env_id: Annotated[
            Optional[StrictStr],
            Field(
                description="ID of the environment, only present if the environment should be rebuilt"
            ),
        ] = None,
        async_req: Optional[bool] = True,
        **kwargs
    ) -> Environment:  # noqa: E501
        ...

    @validate_arguments
    def envs_post(
        self,
        build_context: Annotated[
            Union[StrictBytes, StrictStr],
            Field(..., description="Docker build context"),
        ],
        dockerfile: Annotated[StrictStr, Field(..., description="Dockerfile content")],
        env_id: Annotated[
            Optional[StrictStr],
            Field(
                description="ID of the environment, only present if the environment should be rebuilt"
            ),
        ] = None,
        async_req: Optional[bool] = None,
        **kwargs
    ) -> Union[Environment, Awaitable[Environment]]:  # noqa: E501
        """envs_post  # noqa: E501

        Create a new environment  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.envs_post(build_context, dockerfile, env_id, async_req=True)
        >>> result = thread.get()

        :param build_context: Docker build context (required)
        :type build_context: bytearray
        :param dockerfile: Dockerfile content (required)
        :type dockerfile: str
        :param env_id: ID of the environment, only present if the environment should be rebuilt
        :type env_id: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: Environment
        """
        kwargs["_return_http_data_only"] = True
        if "_preload_content" in kwargs:
            raise ValueError(
                "Error! Please call the envs_post_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"
            )
        if async_req is not None:
            kwargs["async_req"] = async_req
        return self.envs_post_with_http_info(
            build_context, dockerfile, env_id, **kwargs
        )  # noqa: E501

    @validate_arguments
    def envs_post_with_http_info(
        self,
        build_context: Annotated[
            Union[StrictBytes, StrictStr],
            Field(..., description="Docker build context"),
        ],
        dockerfile: Annotated[StrictStr, Field(..., description="Dockerfile content")],
        env_id: Annotated[
            Optional[StrictStr],
            Field(
                description="ID of the environment, only present if the environment should be rebuilt"
            ),
        ] = None,
        **kwargs
    ) -> ApiResponse:  # noqa: E501
        """envs_post  # noqa: E501

        Create a new environment  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.envs_post_with_http_info(build_context, dockerfile, env_id, async_req=True)
        >>> result = thread.get()

        :param build_context: Docker build context (required)
        :type build_context: bytearray
        :param dockerfile: Dockerfile content (required)
        :type dockerfile: str
        :param env_id: ID of the environment, only present if the environment should be rebuilt
        :type env_id: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(Environment, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = ["build_context", "dockerfile", "env_id"]
        _all_params.extend(
            [
                "async_req",
                "_return_http_data_only",
                "_preload_content",
                "_request_timeout",
                "_request_auth",
                "_content_type",
                "_headers",
            ]
        )

        # validate the arguments
        for _key, _val in _params["kwargs"].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method envs_post" % _key
                )
            _params[_key] = _val
        del _params["kwargs"]

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get("_headers", {}))
        # process the form parameters
        _form_params = []
        _files = {}
        if _params["build_context"]:
            _files["buildContext"] = _params["build_context"]

        if _params["dockerfile"]:
            _form_params.append(("dockerfile", _params["dockerfile"]))

        if _params["env_id"]:
            _form_params.append(("envID", _params["env_id"]))

        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get(
            "_content_type",
            self.api_client.select_header_content_type(["multipart/form-data"]),
        )
        if _content_types_list:
            _header_params["Content-Type"] = _content_types_list

        # authentication setting
        _auth_settings = ["AccessTokenAuth"]  # noqa: E501

        _response_types_map = {
            "202": "Environment",
            "401": "Error",
            "500": "Error",
        }

        return self.api_client.call_api(
            "/envs",
            "POST",
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get("async_req"),
            _return_http_data_only=_params.get("_return_http_data_only"),  # noqa: E501
            _preload_content=_params.get("_preload_content", True),
            _request_timeout=_params.get("_request_timeout"),
            collection_formats=_collection_formats,
            _request_auth=_params.get("_request_auth"),
        )
