Dockerfile
README.md
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
dist
.gitignore

./cf-worker-template/node_modules
./cf-worker-template/dist
./cf-worker-template/README.md
./cf-worker-template/.prettierrc
./cf-worker-template/.editorconfig
./cf-worker-template/.git

./playground/lib
./playground/node_modules
./.git
./.git
