.cm-editor {
  @apply px-2 min-w-0 flex flex-1 h-full;
  @apply bg-black-650;
}

.cm-content {
  @apply text-xs font-mono;
  @apply h-auto;
  @apply text-gray-200;
  @apply caret-gray-500;
}

.cm-editor .cm-scroller {
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: auto;
  /* Firefox scrollbar styling */
  scrollbar-color: #8F8F8F transparent;
  scrollbar-width: thin;
}

.cm-scroller::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.cm-scroller::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

.cm-scroller::-webkit-scrollbar-thumb {
  @apply bg-black-600;
}

.cm-editor.cm-focused {
  @apply outline-none;
}

.cm-editor.cm-focused .cm-cursor {
  @apply border-l-gray-500;
}

.cm-editor.cm-focused .cm-selectionBackground, .cm-selectionBackground, ::selection {
  @apply bg-gray-800;
  @apply text-gray-400;
}

.cm-editor .cm-gutters {
  @apply bg-black-650;
  @apply text-gray-800;
  @apply pr-2 border-none;
}

.cm-gutter {
  @apply text-xs font-mono;
  @apply h-auto border-none;
  @apply bg-black-650;
}

.cm-gutter.cm-lineNumbers {
  @apply text-right;
  min-width: 36px;
}

.cm-editor .cm-activeLineGutter {
  @apply bg-black-650;
}

.cm-editor.cm-focused .cm-activeLineGutter {
  @apply text-gray-400;
}

.cm-editor .cm-line.cm-activeLine {
  @apply bg-transparent;
}

.cm-foldPlaceholder {
  background-color: transparent;
  border: none;
  color: #ddd;
}

.cm-content .cm-line, .cm-editor .cm-gutters .cm-lineNumbers {
  @apply py-px;
}

/* Token styling */
/* regexp, escape, and special(string) are mapped to "cmt-string2" */
.cmt-string2 {
  @apply text-[#56b6c2];
}

/* special(variableName) to "cmt-variableName2" */
.cmt-variableName2 {
  @apply text-[#d19a66];
}

/* local(variableName) to "cmt-variableName cmt-local" */
.cmt-variableName .cmt-local {
  @apply text-[#30a];
}

/* definition(variableName) to "cmt-variableName cmt-definition" */
.cmt-variableName .cmt-definition {
  @apply text-[#61afef];
}

/* definition(propertyName) to "cmt-propertyName cmt-definition" */
.cmt-propertyName .cmt-definition {
  @apply text-[#abb2bf];
}

.cmt-link {
  @apply underline;
  @apply text-[#7d8799];
}

.cmt-heading {
  @apply font-bold underline;
}

.cmt-strikethrough {
  @apply line-through;
}

.cmt-emphasis {
  @apply italic;
}

.cmt-strong {
  @apply font-bold;
}

.cmt-keyword {
  @apply text-[#c678dd];
}

.cmt-atom {
  @apply text-[#d19a66];
}

.cmt-bool {
  @apply text-[#d19a66];
}

.cmt-url {
  @apply text-[#56b6c2];
}

.cmt-labelName {
  @apply text-[#61afef];
}

.cmt-inserted {
  @apply text-[#98c379];
}

.cmt-deleted {
  @apply text-[#e06c75];
}

.cmt-literal {
  @apply text-[#98c379];
}

.cmt-string {
  @apply text-[#98c379];
}

.cmt-number {
  @apply text-[#e5c07b];
}

.cmt-variableName {
  @apply text-[#d19a66];
}

.cmt-typeName {
  @apply text-[#e5c07b];
}

.cmt-namespace {
  @apply text-[#e5c07b];
}

.cmt-className {
  @apply text-[#e5c07b];
}

.cmt-macroName {
  @apply text-[#e06c75];
}

.cmt-propertyName {
  @apply text-[#e06c75];
}

.cmt-operator {
  @apply text-[#56b6c2];
}

.cmt-comment {
  @apply text-[#7d8799];
}

.cmt-meta {
  @apply text-[#7d8799];
}

.cmt-punctuation {}

.cmt-invalid {
  @apply text-[#ffffff];
}
