.output {
  @apply p-2;
  @apply flex-1;
  @apply flex flex-col;

  @apply overflow-auto;

  @apply bg-black-900;
  @apply text-[13px] font-mono whitespace-pre leading-normal;
}

.output .error {
  @apply text-red-400;
}

.output .header {
  @apply font-bold uppercase;
}
