@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  *,
  *:before,
  *:after {
    @apply box-border;
  }

  html,
  body {
    @apply h-full;
    @apply bg-slate-50/20;
    @apply text-slate-600 antialiased;
    text-rendering: optimizeLegibility;
  }

  #__next {
    @apply flex h-inherit flex-col items-center;
  }

  .scroller {
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    scrollbar-gutter: stable both-edges;
  }

  .no-scroller {
    scrollbar-width: none;
    resize: none;
  }
}

.no-scroller::-webkit-scrollbar {
  display: none;
}
