@layer base {
  :root {
    --shiki-color-text: theme('colors.white');
    --shiki-token-constant: theme('colors.emerald.300');
    --shiki-token-string: theme('colors.emerald.300');
    --shiki-token-comment: theme('colors.zinc.500');
    --shiki-token-keyword: theme('colors.sky.300');
    --shiki-token-parameter: theme('colors.pink.300');
    --shiki-token-function: theme('colors.violet.300');
    --shiki-token-string-expression: theme('colors.emerald.300');
    --shiki-token-punctuation: theme('colors.zinc.200');
  }

  code[class*='language-'] .Code-line_highlighted {
    position: relative; /* holds highlight element */
    z-index: 1; /* force above the highlight defined below */
  }
  
  code[class*='language-'] .Code-line_highlighted:before {
    content: '';
    position: absolute;
    left: -16px; /* align nicely with code border */
    top: -5px; bottom: -5px; /* breathing space */
    border-left: 3px solid theme('colors.emerald.500');
    width: 300px; /* arbitrary value, looks nice */
    /* TODO: Theme colors */
    background: linear-gradient(
      to right,
      hsl(240, 3%, 21%),
      #1d1d20
    );
    pointer-events: none;
    z-index: -1; /* force below code */
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
