@tailwind utilities;
@tailwind components;
@tailwind base;

@import './codemirror.css';

html, body {
  @apply w-full h-full m-0;

  @apply text-base overflow-hidden;
  @apply text-gray-200;
  @apply bg-black-800;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  flex: 1;
  align-self: stretch;

  display: flex;
  align-items: center;
  justify-content: center;
}
