# coding: utf-8

"""
    envd

    API for managing files' content and controlling envd

    The version of the OpenAPI document: 0.1.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import re  # noqa: F401
import io
import warnings

from pydantic import validate_arguments, ValidationError

from typing_extensions import Annotated
from pydantic import Field, StrictStr, constr, validator

from typing import Union

from e2b.envd.v1.client.models.files_path_put_request import FilesPathPutRequest

from e2b.envd.v1.client.api_client import ApiClient
from e2b.envd.v1.client.api_response import ApiResponse
from e2b.envd.v1.client.exceptions import ApiTypeError, ApiValueError  # noqa: F401


class FilesApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_arguments
    def files_path_get(
        self,
        path: Annotated[
            StrictStr,
            Field(
                ...,
                description="Path to the file, URL encoded. Can be relative to user's home directory.",
            ),
        ],
        username: Annotated[
            constr(strict=True),
            Field(
                ...,
                description="User used for setting the owner, or resolving relative paths.",
            ),
        ],
        **kwargs
    ) -> bytearray:  # noqa: E501
        """Download a file  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.files_path_get(path, username, async_req=True)
        >>> result = thread.get()

        :param path: Path to the file, URL encoded. Can be relative to user's home directory. (required)
        :type path: str
        :param username: User used for setting the owner, or resolving relative paths. (required)
        :type username: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: bytearray
        """
        kwargs["_return_http_data_only"] = True
        if "_preload_content" in kwargs:
            message = "Error! Please call the files_path_get_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.files_path_get_with_http_info(
            path, username, **kwargs
        )  # noqa: E501

    @validate_arguments
    def files_path_get_with_http_info(
        self,
        path: Annotated[
            StrictStr,
            Field(
                ...,
                description="Path to the file, URL encoded. Can be relative to user's home directory.",
            ),
        ],
        username: Annotated[
            constr(strict=True),
            Field(
                ...,
                description="User used for setting the owner, or resolving relative paths.",
            ),
        ],
        **kwargs
    ) -> ApiResponse:  # noqa: E501
        """Download a file  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.files_path_get_with_http_info(path, username, async_req=True)
        >>> result = thread.get()

        :param path: Path to the file, URL encoded. Can be relative to user's home directory. (required)
        :type path: str
        :param username: User used for setting the owner, or resolving relative paths. (required)
        :type username: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(bytearray, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = ["path", "username"]
        _all_params.extend(
            [
                "async_req",
                "_return_http_data_only",
                "_preload_content",
                "_request_timeout",
                "_request_auth",
                "_content_type",
                "_headers",
            ]
        )

        # validate the arguments
        for _key, _val in _params["kwargs"].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method files_path_get" % _key
                )
            _params[_key] = _val
        del _params["kwargs"]

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params["path"] is not None:
            _path_params["path"] = _params["path"]

        # process the query parameters
        _query_params = []
        if _params.get("username") is not None:  # noqa: E501
            _query_params.append(("username", _params["username"]))

        # process the header parameters
        _header_params = dict(_params.get("_headers", {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params["Accept"] = self.api_client.select_header_accept(
            ["application/octet-stream", "application/json"]
        )  # noqa: E501

        # authentication setting
        _auth_settings = []  # noqa: E501

        _response_types_map = {
            "200": "bytearray",
            "400": "Error",
            "403": "Error",
            "404": "Error",
            "500": "Error",
        }

        return self.api_client.call_api(
            "/files/{path}",
            "GET",
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get("async_req"),
            _return_http_data_only=_params.get("_return_http_data_only"),  # noqa: E501
            _preload_content=_params.get("_preload_content", True),
            _request_timeout=_params.get("_request_timeout"),
            collection_formats=_collection_formats,
            _request_auth=_params.get("_request_auth"),
        )

    @validate_arguments
    def files_path_put(
        self,
        path: Annotated[
            StrictStr,
            Field(
                ...,
                description="Path to the file, URL encoded. Can be relative to user's home directory.",
            ),
        ],
        username: Annotated[
            constr(strict=True),
            Field(
                ...,
                description="User used for setting the owner, or resolving relative paths.",
            ),
        ],
        files_path_put_request: FilesPathPutRequest,
        **kwargs
    ) -> None:  # noqa: E501
        """Upload a file and ensure the parent directories exist. If the file exists, it will be overwritten.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.files_path_put(path, username, files_path_put_request, async_req=True)
        >>> result = thread.get()

        :param path: Path to the file, URL encoded. Can be relative to user's home directory. (required)
        :type path: str
        :param username: User used for setting the owner, or resolving relative paths. (required)
        :type username: str
        :param files_path_put_request: (required)
        :type files_path_put_request: FilesPathPutRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """
        kwargs["_return_http_data_only"] = True
        if "_preload_content" in kwargs:
            message = "Error! Please call the files_path_put_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.files_path_put_with_http_info(
            path, username, files_path_put_request, **kwargs
        )  # noqa: E501

    @validate_arguments
    def files_path_put_with_http_info(
        self,
        path: Annotated[
            StrictStr,
            Field(
                ...,
                description="Path to the file, URL encoded. Can be relative to user's home directory.",
            ),
        ],
        username: Annotated[
            constr(strict=True),
            Field(
                ...,
                description="User used for setting the owner, or resolving relative paths.",
            ),
        ],
        files_path_put_request: FilesPathPutRequest,
        **kwargs
    ) -> ApiResponse:  # noqa: E501
        """Upload a file and ensure the parent directories exist. If the file exists, it will be overwritten.  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.files_path_put_with_http_info(path, username, files_path_put_request, async_req=True)
        >>> result = thread.get()

        :param path: Path to the file, URL encoded. Can be relative to user's home directory. (required)
        :type path: str
        :param username: User used for setting the owner, or resolving relative paths. (required)
        :type username: str
        :param files_path_put_request: (required)
        :type files_path_put_request: FilesPathPutRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: None
        """

        _params = locals()

        _all_params = ["path", "username", "files_path_put_request"]
        _all_params.extend(
            [
                "async_req",
                "_return_http_data_only",
                "_preload_content",
                "_request_timeout",
                "_request_auth",
                "_content_type",
                "_headers",
            ]
        )

        # validate the arguments
        for _key, _val in _params["kwargs"].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method files_path_put" % _key
                )
            _params[_key] = _val
        del _params["kwargs"]

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params["path"] is not None:
            _path_params["path"] = _params["path"]

        # process the query parameters
        _query_params = []
        if _params.get("username") is not None:  # noqa: E501
            _query_params.append(("username", _params["username"]))

        # process the header parameters
        _header_params = dict(_params.get("_headers", {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params["files_path_put_request"] is not None:
            _body_params = _params["files_path_put_request"]

        # set the HTTP header `Accept`
        _header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get(
            "_content_type",
            self.api_client.select_header_content_type(["multipart/form-data"]),
        )
        if _content_types_list:
            _header_params["Content-Type"] = _content_types_list

        # authentication setting
        _auth_settings = []  # noqa: E501

        _response_types_map = {}

        return self.api_client.call_api(
            "/files/{path}",
            "PUT",
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get("async_req"),
            _return_http_data_only=_params.get("_return_http_data_only"),  # noqa: E501
            _preload_content=_params.get("_preload_content", True),
            _request_timeout=_params.get("_request_timeout"),
            collection_formats=_collection_formats,
            _request_auth=_params.get("_request_auth"),
        )
