@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  *,
  *:before,
  *:after {
    @apply box-border;
  }

  html,
  body {
    @apply h-full;
    @apply bg-gray-950;
    @apply antialiased;
    text-rendering: optimizeLegibility;
    overflow: overlay;
  }

  #__next {
    @apply flex h-inherit flex-col items-center;
  }
}
