@import './prosemirror.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  *,
  *:before,
  *:after {
    @apply box-border;
  }

  html,
  body {
    @apply h-full;
    @apply bg-gray-950;
    @apply antialiased;
    text-rendering: optimizeLegibility;
    overflow: overlay;
  }

  #__next {
    @apply flex h-inherit flex-col items-center;
  }

  .scroller {
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
    scrollbar-gutter: stable both-edges;
  }

  .no-scroller {
    scrollbar-width: none;
    resize: none;
  }

  code {
    @apply rounded;
    color-scheme: dark;
  }

  .match {
    @apply text-indigo-400 font-bold;
  }

  .reference {
    @apply text-slate-600 font-mono font-semibold border-b border-slate-600;
    box-decoration-break: clone;
  }

  .security {
    -webkit-text-security: disc;
    text-security: disc;
  }
}

.no-scroller::-webkit-scrollbar {
  display: none;
}

code::-webkit-scrollbar {
  /* display: none; */
  scrollbar-track-color: transparent;
  background-color: transparent;
  width: 8px;
  height: 8px;
}

code::-webkit-scrollbar-thumb {
  @apply bg-gray-600;
  width: 6px;
  height: 6px;
  @apply rounded-full;
}

.scroller::-webkit-scrollbar {
  /* display: none; */
  scrollbar-track-color: transparent;
  background-color: transparent;
  width: 8px;
  height: 8px;
}

.scroller::-webkit-scrollbar-thumb {
  @apply bg-slate-300;
  @apply rounded-full;
}
