[tool.poetry]
name = "e2b"
version = "0.13.1"
description = "E2B SDK that give agents cloud environments"
authors = ["e2b <hello@e2b.dev>"]
license = "MIT"
readme = "README.md"
homepage = "https://e2b.dev/"
repository = "https://github.com/e2b-dev/e2b/tree/main/packages/python-sdk"
packages = [{ include = "e2b" }]

[tool.poetry.dependencies]
python = "^3.8"

urllib3 = ">= 1.25.3"
python-dateutil = ">=2.8.2"
aiohttp = ">= 3.8.4"
pydantic = "*"
aenum = ">=3.1.11"
websockets = "^11.0.3"
jsonrpcclient = "^4.0.3"
requests = "^2.31.0"

[tool.poetry.group.dev.dependencies]
black = "^23.7.0"
pytest = "^7.4.0"
pytest-xdist = "^3.3.1"
psycopg2 = "^2.9.7"
python-dotenv = "^1.0.0"
pytest-dotenv = "^0.5.2"
openai = "^1.2.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/e2b-dev/e2b/issues"
