.instructions-editor > div {
  height: 100%;
  width: 100%;
}

/* This selects <code/> that isn't inside <pre/> */
.ProseMirror :not(pre) code {
  @apply p-1;
  @apply bg-gray-800;
  @apply border border-gray-600;
}

.ProseMirror {
  @apply h-full w-full;
  @apply text-gray-100 break-words whitespace-pre-wrap prose-invert prose-sm;
  @apply prose-h1:font-semibold;
  @apply prose-h2:font-semibold;
  @apply prose-h3:font-semibold;
  @apply prose-h4:font-semibold;
  @apply prose-ol:list-decimal;
  @apply prose-ul:list-disc;
  @apply prose-pre:p-1 prose-pre:bg-gray-800 prose-pre:w-full prose-pre:border prose-pre:border-gray-600;
  @apply prose-hr:border-gray-600 prose-hr:rounded-md;
  @apply prose-blockquote:p-1 prose-blockquote:text-sm prose-blockquote:rounded-md prose-blockquote:bg-gray-700 prose-blockquote:border prose-blockquote:border-gray-600;

  /*
   * NOTE: Disabling overflow anchor fixes a code cell scrolling bug
   * that happens in Chrome:
   * If you have a code cell with `BottomResizer`, resize the code cell
   * so that it has a scrollbar, scroll at the bottom and start deleting
   * new lines, the outer scrollbar of ProseMirror starts moving with
   * every deleted new-line which then moves the whole document page.
   *
   * I'm currently not sure how to fix the bug in any other way. Maybe
   * some enclosing elemens have their height incorrectly calculated?
   *
   * More info and solution might be found here:
   * - https://discuss.prosemirror.net/t/undesired-scrolling-on-updatestate/2066
   * - https://github.com/ProseMirror/prosemirror/issues/933
   */
  overflow-anchor: none;
}

.ProseMirror:focus {
  @apply outline-none;
}

.ProseMirror p {
  @apply mx-0 my-0 py-0 leading-6 whitespace-pre-wrap break-words;
}

.ProseMirror span {
  @apply whitespace-pre-wrap break-words;
}

/* Placeholder (on the first empty line) */
.ProseMirror p.is-empty:first-of-type::before {
  @apply float-left h-0 select-none text-gray-500;
  content: attr(data-placeholder);
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}
