openapi: 3.0.0
info:
  version: 1.0.0
  title: Devbook
  description: Devbook API

servers:
  - url: https://ondevbook.com/
    description: API endpoint
  - url: https://{sessionID}-{clientID}.ondevbook.com/
    description: Session endpoint without specified port
    variables:
      sessionID:
        description: ID of the session
        default: _sessionID
      clientID:
        description: ID of the client
        default: _clientID
  - url: https://{port}-{sessionID}-{clientID}.ondevbook.com/
    description: Session endpoint with specificed port
    variables:
      sessionID:
        description: ID of the session
        default: _sessionID
      clientID:
        description: ID of the client
        default: _clientID
      port:
        description: Port to connect to
        default: "8080"

#security:
#- ApiKeyAuth: [] # Use the same name as under securitySchemes

tags:
  - name: sessions
    description: Managing VM sessions
  - name: envs
    description: Environment for VM

components:
  #securitySchemes:
  #  ApiKeyAuth: # Arbitrary name for the security scheme
  #    type: apiKey
  #    in: query # Can be 'header', 'query' or 'cookie'
  #    name: API_KEY # Name of the header, query parameter or cookie
  schemas:
    # Enums
    Template:
      type: string
      enum:
        - Nodejs
    EnvironmentState:
      type: string
      enum:
        - Building
        - Failed
        - Done

    # Environment
    NewEnvironment:
      required:
        - codeSnippetID
        - template
        - deps
      properties:
        codeSnippetID:
          type: string
        template:
          $ref: "#/components/schemas/Template"
        deps:
          type: array
          items:
            type: string
    Environment:
      allOf:
        - $ref: "#/components/schemas/NewEnvironment"
        - required:
            - id
            - state
          properties:
            id:
              type: string
            state:
              $ref: "#/components/schemas/EnvironmentState"
    EnvironmentStateUpdate:
      required:
        - state
      properties:
        state:
          $ref: "#/components/schemas/EnvironmentState"

    # Session
    NewSession:
      required:
        - codeSnippetID
      properties:
        editEnabled:
          type: boolean
          default: false
          description: Option determining if the session is a shared persistent edit session
        codeSnippetID:
          type: string
          description: Identifier of a code snippet which which is the environment associated
    Session:
      required:
        - sessionID
        - clientID
        - editEnabled
        - codeSnippetID
      properties:
        codeSnippetID:
          type: string
          description: Identifier of a code snippet which which is the environment associated
        editEnabled:
          type: boolean
          description: Information if the session is a shared persistent edit session
        sessionID:
          type: string
          description: Identifier of the session
        clientID:
          type: string
          description: Identifier of the client

    # Errors
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
          description: Error code
        message:
          type: string
          description: Error

paths:
  /health:
    get:
      description: Health check
      responses:
        200:
          description: Request was successful
  /sessions:
    get:
      description: List all sessions
      tags:
        - sessions
      responses:
        200:
          description: Successfully returned all sessions
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: "#/components/schemas/Session"
        500:
          description: Error listing sessions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      description: Create a session on the server
      tags:
        - sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewSession"
      responses:
        201:
          description: Successfully created a session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Error creating session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /sessions/{sessionID}:
    delete:
      description: Delete a session on the server
      tags:
        - sessions
      parameters:
        - name: sessionID
          in: path
          required: true
          schema:
            type: string
      responses:
        204:
          description: Successfully deleted the session
        500:
          description: Error deleting the session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /sessions/{sessionID}/refresh:
    put:
      description: Refresh the session extending its time to live
      tags:
        - sessions
      parameters:
        - name: sessionID
          in: path
          required: true
          schema:
            type: string
      responses:
        204:
          description: Successfully refreshed the session
        404:
          description: Error refreshing session - session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /envs:
    post:
      description: Create a new env for a code snippet
      tags:
        - envs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewEnvironment"
      responses:
        204:
          description: Successfully created an environment
        400:
          description: Cannot create a new environment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Server error when creating new environment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /envs/{codeSnippetID}:
    delete:
      description: Delete the code snippet environment
      tags:
        - envs
      parameters:
        - name: codeSnippetID
          in: path
          required: true
          schema:
            type: string
      responses:
        204:
          description: Successfully deleted the environment
        400:
          description: Cannot delete the environment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        500:
          description: Server error when deleting the environment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /envs/{codeSnippetID}/publish:
    post:
      description: Publish the edit environment of the code snippet
      tags:
        - envs
      parameters:
        - name: codeSnippetID
          in: path
          required: true
          schema:
            type: string
      responses:
        204:
          description: Publishing the edit environment for code snippet
        500:
          description: Error publishing the edit environment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /envs/{codeSnippetID}/state:
    put:
      description: Update the state of the environment
      tags:
        - envs
      parameters:
        - name: codeSnippetID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnvironmentStateUpdate"
      responses:
        204:
          description: Publishing the edit environment for code snippet
        400:
          description: Error publishing the edit environment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
