name: Release

on:
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  id-token: write
  contents: write

jobs:
  is_release:
    name: Is release?
    runs-on: ubuntu-latest
    outputs:
      release: ${{ steps.version.outputs.release }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Parse .tool-versions
        uses: wistia/parse-tool-versions@v2.1.1
        with:
          filename: '.tool-versions'
          uppercase: 'true'
          prefix: 'tool_version_'

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        id: pnpm-install
        with:
          version: '${{ env.TOOL_VERSION_PNPM }}'

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '${{ env.TOOL_VERSION_NODEJS }}'
          registry-url: 'https://registry.npmjs.org'
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - name: Configure pnpm
        run: |
          pnpm config set auto-install-peers true
          pnpm config set exclude-links-from-lockfile true

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check if new version
        id: version
        run: |
          IS_RELEASE=$(./.github/scripts/is_release.sh)
          echo "release=$IS_RELEASE" >> "$GITHUB_OUTPUT"

  changes:
    name: Repository changes
    needs: [is_release]
    if: needs.is_release.outputs.release == 'true'
    runs-on: ubuntu-latest
    outputs:
      js-sdk: ${{ steps.js.outputs.release }}
      python-sdk: ${{ steps.python.outputs.release }}
      cli: ${{ steps.cli.outputs.release }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Parse .tool-versions
        uses: wistia/parse-tool-versions@v2.1.1
        with:
          filename: '.tool-versions'
          uppercase: 'true'
          prefix: 'tool_version_'

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        id: pnpm-install
        with:
          version: '${{ env.TOOL_VERSION_PNPM }}'

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '${{ env.TOOL_VERSION_NODEJS }}'
          registry-url: 'https://registry.npmjs.org'
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - name: Configure pnpm
        run: |
          pnpm config set auto-install-peers true
          pnpm config set exclude-links-from-lockfile true

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check JavasScript SDK Release
        id: js
        run: |
          IS_RELEASE=$(./.github/scripts/is_release_for_package.sh "e2b")
          echo "release=$IS_RELEASE" >> "$GITHUB_OUTPUT"

      - name: Check Python SDK Release
        id: python
        run: |
          IS_RELEASE=$(./.github/scripts/is_release_for_package.sh "@e2b/python-sdk")
          echo "release=$IS_RELEASE" >> "$GITHUB_OUTPUT"

      - name: Check CLI Release
        id: cli
        run: |
          IS_RELEASE=$(./.github/scripts/is_release_for_package.sh "@e2b/cli")
          echo "release=$IS_RELEASE" >> "$GITHUB_OUTPUT"

  python-tests:
    name: Python SDK Tests
    needs: [changes]
    if: needs.changes.outputs.python-sdk == 'true'
    uses: ./.github/workflows/python_sdk_tests.yml
    secrets: inherit

  js-tests:
    name: JS SDK Tests
    needs: [changes]
    if: needs.changes.outputs.js-sdk == 'true'
    uses: ./.github/workflows/js_sdk_tests.yml
    secrets: inherit

  cli-tests:
    name: CLI Tests
    needs: [changes]
    if: needs.changes.outputs.cli == 'true'
    uses: ./.github/workflows/cli_tests.yml
    secrets: inherit

  publish:
    name: Publish
    needs: [is_release, python-tests, js-tests, cli-tests]
    if: (!cancelled()) && !contains(needs.*.result, 'failure') && needs.is_release.outputs.release == 'true'
    uses: ./.github/workflows/publish_packages.yml
    secrets: inherit

  report-failure:
    needs: [python-tests, js-tests, cli-tests, publish]
    if: failure()
    name: Release Failed - Slack Notification
    runs-on: ubuntu-latest
    steps:
      - name: Release Failed - Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: '#ff0000'
          SLACK_MESSAGE: ':here-we-go-again: :bob-the-destroyer: We need :fix-parrot: ASAP :pray:'
          SLACK_TITLE: Release Failed
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_CHANNEL: 'monitoring-releases'
