pandas
opencv-python
imageio
scikit-learn
spacy
bokeh
pytest
aiohttp
python-docx
nltk
textblob
beautifulsoup4
seaborn
plotly
tornado
matplotlib
xarray
librosa
gensim
soundfile
pytz
requests
scikit-image
xlrd
scipy
numpy
openpyxl
joblib
urllib3